h1{
  color: #FFE3E3;
  font-family: 'Roboto', sans-serif;
}
h3{
  color: #FFE3E3;
  font-family: 'Roboto', sans-serif;
}
p{
  color: #D9CAB3;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 0.8rem;
  font-weight:500;
}

body{
  background-color: #11052C;
}
span{
  color: #3D087B;
}
img{
  width: 32%;
  position: absolute;
  top: 110px;
  left: 710px;
}
.main-container{
  background-color: #170055;
  width: 70%;
  margin: 100px auto;
}
.first-container{
  width: 40%;
  margin-left: 50px;
  padding-top: 23px;

}
.box-1{
  width:10%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  line-height: 0.5;
  margin-bottom: 40px;
}
.box-2{
  width:10%;
  display: inline-block;
  margin-top: 10px;
  line-height: 0.5;
  margin-bottom: 40px;
}
.box-3{
  width:10%;
  display: inline-block;
  margin-top: 10px;
  line-height: 0.5;
  margin-bottom: 40px;
}
